div.centerLogin
{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

div#page
{
	margin: 0 auto;
	padding: 5px;
	text-align: left;
}

div#header
{
	height: 30px;
}

div#menu
{
	width: 150px;
	float: left;
	margin: 10px 0 10px 5px;
	height: 400px;
}

div#menu ul
{
	list-style: none;
}

div#content
{
	margin: 20px 0 20px 235px;
	min-height: 500px;
}

div#footer
{
	height: 30px;
	width: 200px;
	text-align: center;
}

input.button
{
	background-color: #fff;
	border: 1px solid;
}

input.textInput
{
	border: 1px solid #000;
}

textarea
{
	width: 450px;
	height: 300px;
	border: 1px solid #000;
}